# Backend API base URL
VITE_API_URL=https://service-server-e64r.onrender.com/api

# Paystack public key (safe to expose client-side)
VITE_PAYSTACK_PUBLIC_KEY=pk_test_eafaab48517526acd855722ddb2aee81cf5ab7fc
